<div class="btn-group">
	<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
	  <% if !@user_activity.nil? %>
		<i class="<%= @user_activity.activity_state.thumbnail %>"></i> Accpeted 
		<% else %>
		<i class="icon-plus"></i> Not Started 
		<% end %>
		<span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
	  <li><%= link_to 'Complete', activity_user_activity_complete_path(@activity, @user_activity), :remote => true %></li>
	  <li><%= link_to 'Forfeit',  activity_user_activity_forfeit_path(@activity,@user_activity),  :remote => true %></li>
	</ul>
</div>


<script type="text/javascript">

$(document).ready(function() { 

	

	$('.link-delete).bind('ajax:beforeSend, function() {
	  $('#mySpinner').show();
	});

	$('.link-delete).bind('ajax:complete:, function() {
	  $('#mySpinner').hide();
	});

	
});
</script>