<ul class="user_wall" style="list-style-type: none; position:relative;">

<% users.each do |user| %>

	<li class="item">

		<div class="image_box pointer">

	    <div class="image_box_content lead" >
	    	<%= link_to truncate(user.name, length:30),user_path(user) %>
	    </div>
	    <div class="image_box_image">
	    	<%= link_to image_tag(user.avatar(:square)),user_path(user) %>
	    </div>

	  </div>
				
	</li>

<% end %>

</ul>


<style type="text/css">

	/* Text in Box */

	.image_box_content a {
		text-decoration:none !important	;
		color: white;
	}

	.image_box_content {
		padding:5px;
		background-color: rgba(0,0,0,0.30);
		font-size: 2.0em;
	  width: 100%;
	  height:100%;
	  position: absolute;
	  top: 0;
	  left: 0;
	  z-index: 15;
	}

	.image_box_image {
	  z-index: 10;
	}

	.item {
		max-width:200px;
		max-height:200px;
		overflow: hidden;
	}
	
</style>


<script type="text/javascript">

$(window).load(function() { 
	$('.user_wall').masonry( {
	  columnWidth: 200,
	  itemSelector: '.item'
	});
});
  
</script>