<ul class="user_wall" style="list-style-type: none; position:relative;">

<% users.each do |user| %>

	<li class="item">

		<div class="image_box pointer">
	    <div class="image_box_content lead" >
	    	<%= truncate(user.name, length:30) %>
	    </div>
	    <div class="image_box_image">
	    	<%= link_to image_tag(user.avatar(:square)), user_path(user) %>
	    </div>
	  </div>
	
	</li>

<% end %>

</ul>


<style type="text/css">

	.item {
		max-width:150px;
		max-height:150px;
		overflow: hidden;
	}
	
</style>


<script type="text/javascript">

$(window).load(function() { 
	$('.user_wall').masonry( {
	  columnWidth: 150,
	  itemSelector: '.item'
	});
});

$(document).ready(function() { 


	$(document)
	.on('mouseenter', '.image_box', function() {
		$(this).find('.image_box_content').hide();
	});
	$(document)
	.on('mouseleave', '.image_box', function() {
		$(this).find('.image_box_content').show();
	});

});
	  
</script>