<ul class="list-unstyled" >
	<li><b>Completed: </b><%= user.stats[:completed] %></li>
	<li><b>Accepted: </b><%= user.stats[:accepted] %></li>
	<li><b>Followers: </b><%= user.stats[:following] %></li>
</ul>