<ul class="list-unstyled" >
	<li><b>Acitivies Completed: </b><%= user.stats[:completed] %></li>
	<li><b>Acitivies Accepted: </b><%= user.stats[:accepted] %></li>
	<li><b>Users Following: </b><%= user.stats[:following] %></li>
</ul>