<div class="row">

	<div class="span3" >
		<%= render partial: 'user', locals: { user: @current_user } %>
	</div><!-- user -->

	<div class="span9">
		
		<% if !@user.followers.empty? %>
		<h3>Users Following You</h3>
		<%= render :partial => 'list_users', locals: { users: @users } %>
		<% else %>
		<h3>No Followers Found</h3>
		<% end %>
		
	</div>

</div>