<h3>Accpeted Activities</h3>
<%= render :partial => 'table_user_activities', locals: {user_activities: @user.activities_accepted} %>
<h3>Users Following</h3>
<%= render :partial => 'table_user_activities', locals: {user_activities: @user.activities_following} %>
<h3>Activites Watching</h3>
<%= render partial: 'table_activities', locals: {activities: @user.activities_watching} %>

