<div class="row">
  <aside class="span8">
    <section>
      <p><strong><%= @user.name %></strong>
    </section>
  </aside>
</div>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Creator</th>
    <th>Tags</th>
  </tr>

<% @user.activities.each do |activity| %>
  <tr>
    <td><%= link_to "#{activity.name.titlecase}", activity %></td>
    <td><%= link_to "#{activity.user.name.titlecase}", activity.user %></td>
    <td><%= activity.tag_list %></td>
  </tr>
<% end %>
</table>

