<table class="table">
  <tr>
    <th>Name</th>
    <th>Creator</th>
    <th>Tags</th>
  </tr>

<% @activities.each do |activity| %>
  <tr>
    <td><%= link_to "#{activity.name.titlecase}", activity %></td>
    <td><%= image_tag activity.user.avatar.url(:icon), size: '25x25' %> <%= link_to "#{activity.user.name.titlecase}", activity.user %></td>
    <td><%= activity.tag_list %></td>
  </tr>
<% end %>
</table>

