<div class="main_user_wall">
	<ul class="user_wall">

	<% @user_activities.each do |user_activity| %>
		<% user_activity.user_activity_images.each do |user_activity_image| %>

			<% if !user_activity_image.nil? %>
			<li><%= image_tag user_activity_image.image.url(:square), class: 'item' %></li>
			<% end %>

		<% end %>
	<% end %>

	</ul>
</div>

<script type="text/stylesheet">
	.item { width: 25%; }
	.item.w2 { width: 50%; }
</script>

<script type="text/javascript">

$(window).load(function() { 
	$('.user_wall').masonry( {
	  columnWidth: 200,
	  itemSelector: '.item'
	});
});

window.resize();
	  
</script>