<ul class="user_wall" style="list-style-type: none; position:relative;">

<% @wall_content.each do |user_activity, type, item| %>

	
	<% if type == 'IMAGE' %>
		<li class="item">
			<%= link_to image_tag(item.image(:square), size: "200x200"), activity_user_activity_path(user_activity.activity, user_activity) %>
		</li>
	<% end %>
	<% if type == 'VIDEO' %>
		<li class="item w2">
			<% if item.include?('youtube') or item.include?('youtu.be') %>
				<%= auto_html(item) { youtube(:width => 400, :height => 200) } %>
			<% elsif item.include? 'vimeo' %>
				<%= auto_html(item) { vimeo(:width => 400, :height => 200) } %>
			<% else %>
				<%= auto_html(item) { simple_format(:width => 400, :height => 200); link(:target => 'blank') } %>
			<% end %>
		</li>
	<% end %>


<% end %>

</ul>

<script type="text/stylesheet">
	.item { width: 25%;}
	.item.w2 { width: 50%; }
</script>

<script type="text/javascript">

$(window).load(function() { 
	$('.user_wall').masonry( {
	  columnWidth: 200,
	  itemSelector: '.item'
	});
});
	  
</script>