
/*footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayLighter;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}*/

.transparent {
    background-color:#ffffff;
 
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;    
    opacity:0.5; 
    filter:alpha(opacity=50);
    zoom:1; /* hasLayout for IE6 and IE7 */
}
 
.transparent:hover {
    -moz-opacity:1.0;
    -khtml-opacity: 1.0;    
 
    opacity:0.0;
    filter:alpha(opacity=100);
}

.tile-group {
	ul {
		

		li {
			background-color: lightgray;
			list-style-type: none;

			margin: 10px;
			
			div {
				padding: 10px;
			}

			div.square {
				padding: 0px;
				width: 300px;
				height: 300px;

				div.fill {
					z-index: 1;
					text-align: center;
  				display: table-cell; vertical-align: middle;
				}
				div.transparent {
					z-index: 100;
				}
			}
			
			
		}

	}
}