

<div class="row">
	<span class="span5">

		<%= render 'activities/form_filter' %>

	</span>
	<span class="span5 hero-unit">

		Cannot find an activity? <%= link_to 'Create an Activty', new_activity_path, class: 'btn btn-primary' %> here.

	</span>
<div>

<div class="filter_activity_results">

	<%= render 'table_activities' %>

</div>