

<div class="row">
	<div class="span6">

		<%= render 'activities/form_filter' %>

	</div>
	<div class="span5 well center">
		<br/><br/>
		Cannot find an activity? <%= link_to 'Create an Activty', new_activity_path, class: 'btn btn-primary' %> here.
		<br/><br/>
	</div>
</div>

<div class="filter_activity_results">

	<%= render 'table_activities' %>

</div>