<table>
  <tr>
    <th></th>
    <th></th>
  </tr>

<% @activities.each do |activity| %>
  <tr>
    <td><%= link_to "#{activity.name.titlecase}", activity %></td>
    <td><%= link_to "#{activity.user.name.titlecase}", activity.user %></td>
  </tr>
<% end %>
</table>