<%= render 'activities/form_filter' %>

<hr/>

<div class="filter_activity_results">

<table class="table">
  <tr>
    <th>Name</th>
    <th>Creator</th>
  </tr>

<% @activities.each do |activity| %>
  <tr>
    <td><%= link_to "#{activity.name.titlecase}", activity %></td>
    <td><%= link_to "#{activity.user.name.titlecase}", activity.user %></td>
  </tr>
<% end %>
</table>

</div>